<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.finzy.weathernow">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <dist:module dist:instant="true"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name=".widget.WeatherAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/weather_app_widget_info"/>
        </receiver>

        <!--<receiver
                android:name=".widget.MyAppWidgetProvider"
                android:icon="@mipmap/ic_launcher"
                android:label="Example Widget">
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/new_app_widget_info"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>-->

        <activity
                android:name=".activity.CitySearchActivity"
                android:theme="@style/FullscreenTheme"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.LaunchActivity"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activity.SendLogActivity"
                android:textAppearance="@android:style/TextAppearance.Large"
                android:theme="@android:style/Theme.Dialog"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.finzy.SEND_LOG"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".widget.RemoteFetchService"/>
    </application>

</manifest>